.about-me {
  padding: 20px;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container > div {
  width: 50%;
  align-items: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile-image-container {
  text-align: center;
}
