.my-name {
  text-align: center;
  font-size: 100px;
  color: black;
  position: relative;
}

.profession-tags {
  font-family: sans-serif;
  text-align: center;
  color: black;
  position: relative;
  bottom: 60px;
}
